.slide {
    position: relative;
    .text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: $white;
        padding-top: 10%;
        img {
            display: inline;
        }
        a {
            display: block;
            color: $white;
            text-transform: uppercase;
            font-size: rem-calc(15);
            font-weight: bold;
            img {
                margin-left: $column-gutter*0.5;
            }
        }
        .title-1 {
            margin-bottom: rem-calc(20);
            padding-left: $column-gutter;
            padding-right: $column-gutter;
        }
        @include mq(netbook) {
            padding-top: 8%;
            .title-1 {
                padding-left: $column-gutter*2;
                padding-right: $column-gutter*2;
            }

        }
        @include mq(desktop) {
            // padding-top: 8%;
            .title-1 {
                padding-left: $column-gutter*5;
                padding-right: $column-gutter*5;
            }

        }
    }
}

.image-text-link {
    display: block;
    figure  {
        background-color: $red;
        margin-bottom: $column-gutter*0.5;
        > img {
            display: block;
        }
    }
    figcaption {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        img {
            position: absolute;
            left: 42.5%;
            bottom: 70%;
        }
        h3 {
            color: $white;
            font-size: rem-calc(24);
            margin: 0;
            padding: rem-calc(20) 0;
        }
    }
}

.icon-container {
    margin-bottom: rem-calc(18);
}



.homepage-overview-blocks {
    li {
        padding-bottom: 0;
    }
}

.overview-block {
    background-color: $white;
    padding: rem-calc(10);
    .button {
        display: block;
        font-size: rem-calc(15);
        font-family: $museo;
        margin-top: $column-gutter;
        margin-bottom: 0;
        background-color: $gold;
        width: 100%;
        padding-top: rem-calc(10);
        padding-bottom: rem-calc(10);
        text-align: center;
        letter-spacing: 1px;
    }
}



.community-focus {
    padding: $column-gutter*2 $column-gutter $column-gutter;
    border: 1px solid $red;
    position: relative;
    margin: rem-calc(40) 0;
    @include mq(netbook) {
        padding: $column-gutter*3 $column-gutter*2 $column-gutter;
    }
}

.community-focus-hgroup {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 95%;
    h2 {
        // font-size: rem-calc(24);
        display: inline-block;
        text-transform: uppercase;
        color :$red;
        background-color: $white;
        padding: 0 $column-gutter*2;
        margin: 0;
    }
}

