.right-off-canvas-toggle {
    margin-bottom: 0;
    margin-top: 5%;
    font-family: $bree;
    font-size: rem-calc(24);
    text-transform: uppercase;
    img {
        margin-left: rem-calc(16);
    }
}

.logo-and-menu {
    padding: $column-gutter*0.5 0;
}

