.nav {
    background-color: #ece9df;
    text-align: center;
    li {
        padding-bottom: 0;
        line-height: rem-calc(50);
    }
    a {
        font-family: $bree-serif;
        font-size: rem-calc(17);
        color: #b20738;
        text-transform: uppercase;
    }
}

