doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title LNB Banking
    meta(name="description", content="LNB Banking")
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        .container
          include _header.jade

          main.main#main

            header.page-header
              .page-hgroup.with-margin-bottom
                .row
                  .columns
                    img(src="images/icons/person-icon.png", alt="").left
                    strong.pre-title Personal Banking
                    h1 Personal Checking Services

            .page-content
              //- .page-section are our "dividers"
              .page-section
                .row
                  //- .columns.medium-10.medium-centered
                  .columns.medium-9.medium-centered.large-offset-2
                    .row
                      .columns.medium-7
                        img(src="images/image-1.jpg", alt="")
                        h2.title-5 Checking for everyone so they can do just about everything
                        p We’ve designed our personal checking programs with one simple goal in mind: so that our customers have a checking solution that’s perfect for them. Of course, every offering comes with LNB’s exceptional service and convenient technology.
                        //- p Totam illum dolorem soluta vitae, magni voluptatum eos perferendis voluptas enim. Quas nihil architecto inventore iusto illum ipsa, libero tenetur laboriosam nesciunt!
                        //- p Magni dolor, repellendus nisi voluptatem necessitatibus adipisci quod! Dolorem, incidunt a, qui tempore, ducimus porro omnis praesentium ad odio nihil, aperiam accusantium.
                        hr.alt
                        h2.title-5 Personal Checking Options
                        ul.tabs.vertical.tabs-1(data-tab)
                          li.tab-title.active
                            a(href="#panel-1") Free Rewards Saver
                          li.tab-title
                            a(href="#panel-2") Free E-Rewards
                          li.tab-title
                            a(href="#panel-3") Basic Checking
                          li.tab-title
                            a(href="#panel-4") Regular Checking
                          li.tab-title
                            a(href="#panel-5") Now Interest
                          li.tab-title
                            a(href="#panel-6") HSA Checking

                        .tabs-content
                          .content.active#panel-1
                            strong Do you want to earn high interest?
                            p This free, high-interest checking account will help you earn and save big.
                            ul
                              li Earn up to 2.01% APY* on balances up to $15,000
                              li It’s FREE!
                              li No minimum balance
                              li No monthly maintenance fee
                              li Free nationwide ATMs**
                            p Want to earn even more? Pair this checking account with an LNB Free Rewards Saver savings account.
                            .disclaimers
                              small * Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              small * Officia expedita perferendis quas, libero, quidem mollitia vero suscipit provident commodi ea at reiciendis eaque. Eius quas eos dolore a natus voluptates.

                          .content#panel-2
                            strong Do you want rewards?
                            p We’ll reward you just for signing up, then every month after that.
                            ul
                              li Get $15 in iTunes and Amazon.com downloads* when you sign up
                              li Get another $5 in downloads each month*
                              li It’s FREE!
                              li No minimum balance
                              li No monthly service fee
                              li Free nationwide ATMS**
                            .disclaimers
                              small * Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                              small * Officia expedita perferendis quas, libero, quidem mollitia vero suscipit provident commodi ea at reiciendis eaque. Eius quas eos dolore a natus voluptates.

                          .content#panel-3
                            strong Prefer no-frills checking?
                            p Avoid high minimum-balance requirements and maintenance fees, and don’t pay for features and services you don’t need.
                            ul
                              li $25 minimum opening deposit
                              li No minimum monthly balance
                              li First 8 debits each month are free; only $0.25/debit after that (withdrawals, check paid, automatic transfers or payment)
                          .content#panel-4
                            strong Looking for convenience?
                            p Smart, convenient, straightforward—there’s nothing regular about this checking plan.
                            ul
                              li $25 minimum opening deposit
                              li No monthly maintenance fees and no minimum balance requirements when you have direct deposit, are 55 years of age* or older, or if your balance remains at $300 or more during the month
                              li Unlimited transactions
                            .disclaimers
                              small * Primary account holder
                          .content#panel-5
                            strong Want to grow your account faster?
                            p Earn interest on your balance while it’s in your NOW interest checking account.
                            ul
                              li $1,000 minimum opening deposit
                              li Earn a competitive annual percentage yield (APY) on checking account balances of $1,000 or more
                              li Interest accrues daily and is paid monthly
                              li No maintenance fee on daily balances of $1,000 or more
                          .content#panel-6
                            strong Want to save and grow healthcare funds?
                            p Pay for current health expenses, and save for future qualified medical expenses and retiree health expenses –all on a tax-free basis.
                            ul
                              li Tiered interest is accrued daily and paid monthly
                              li Tiered interest earnings for bigger savings
                              li No monthly maintenance fee or minimum balance requirement
                              li No per-debit fees
                              li Access your funds in branch, by check, or as an ATM/POS transaction

                        a(href="#").button.right Compare All
                        hr.alt
                        h2.title-5 Which Option is Best For You?
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti autem numquam nihil enim sunt, velit quia, accusantium nemo! Molestiae, laborum, quas dolorem natus nesciunt consectetur aliquam rem facere porro accusamus.


                      .columns.medium-5
                        .personal-banking-sidebar.yellow-bg
                          .sidebar-section
                            h3 Personal Banking
                            .content
                              ul
                                li
                                  a(href="#") Checking
                                li
                                  a(href="#") Savings
                                li
                                  a(href="#") Retirement
                                li
                                  a(href="#") Loans &amp; Lending
                          .sidebar-section
                            h3 Downloads
                            .content
                              ul
                                li
                                  a(href="#") Brochure
                                li
                                  a(href="#") Resource
                                li
                                  a(href="#") Comparisons
                          .sidebar-section
                            h3 Contact Us
                            .content
                              p Contact your local branch below—or stop in and we can review your banking options with you in person.
                              hr
                              a(href="#").find-your-branch Find Your Branch
                                img(src="/images/icons/arrow-clear.png", alt="")
                          blockquote.blockquote-1 "...it was the 18th consecutive year we reported record earnings."



              include _callout.jade

          include _footer.jade

        include _off-canvas.jade

    include _scripts.jade
