footer.footer
  .footer-mega
    .row
      .columns
        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
          li
            nav.sitemap
              h3 Sitemap
              ul.sitemap-list.no-bullet
                li
                  a(href="#") Personal Banking
                li
                  a(href="#") Business Banking
                li
                  a(href="#") Financial Services
                li
                  a(href="#") Community Focus
                li
                  a(href="#") News &amp; Archive
          li
            h3 Have a Question?
            p Give us a call or visit one of our branches Monday-Friday.
            ul.no-bullet
              li
                a(href="#") View all locations
              li
                a(href="#") Email Us
              li
                a(href="#") Mobile Access
          li
            h3 Main Branch
            p.address 35 William Street <br/> Lyons, New York 14489 <br/> (315) 946-4871
          li
            figure.footer-logo
              img(src="images/footer-logo.png", alt="")
            ul.no-bullet
              li
                a(href="#").button Online Banking
              li
                a(href="#").button Remote Capture



  .copyright
    p.cities Canandaigua Clyde Geneva Jordan Lyons Macedon Newark Ontario Penn Yan Seneca County Wolcott
    p &copy; 2015 LNB Banking. All rights reserved.
