header.header
  .row
    .columns
      .logo-and-menu.row
        .columns.medium-5.medium-offset-1
          h1.h1
            a(href="/")
              span.visuallyhidden LNB Banking
              img(src="images/lnb-logo.png", alt="")
        .columns.medium-5.medium-pull-1
          a(href="#").right-off-canvas-toggle.right.button Bank Now &equiv;

nav.nav(role="navigation")
  .row
    .columns
      h2.visuallyhidden Main Menu
      ul.small-block-grid-1.medium-block-grid-5
        li
          a(href="01-personal-banking.html") Personal Banking
        li
          a(href="01-personal-banking.html") Business Banking
        li
          a(href="01-personal-banking.html") Financial Services
        li
          a(href="01-personal-banking.html") New &amp; Resources
        li
          a(href="01-personal-banking.html") About LNB
