.right-off-canvas-menu
  .row
    .columns.small-11.small-centered
      header.off-canvas-header
        h1 LNB Bank Now

      .off-canvas-section
        h3 Banking Portals
          ul
            li
              a(href="#") Online Banking
            li
              a(href="#") Remote Deposit
            li
              a(href="#") Special Ofser &amp; Advantages

      .off-canvas-section
        h3 Search
        input(type="text", placeholder="How can we help?")

      .off-canvas-section
        .recent-news-container
          h3 Recent News
          article.article-preview
            strong.date
              span.month May
              span.day 18
            h4 Article Title about things
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .off-canvas-section
        h3 Have a Question?
        p Cumque doloremque cupiditate magni voluptates illo dolor natus.

        ul
          li
            a(href="#") View all Locations
          li
            a(href="#") Email Us
          li
            a(href="#") Mobile Access


a.exit-off-canvas
