.right-off-canvas-menu.off-canvas
  .row
    .columns.small-11.small-centered
      header.off-canvas-header
        h1 Resource Center

      .off-canvas-section
        h3.offcanvas-title Banking Portals
        ul.banking-portals-list
          li
            a(href="#").button Online Banking
              img(src="images/icons/arrow.png", alt="")
          li
            a(href="#").button Remote Deposit
              img(src="images/icons/arrow.png", alt="")
          li
            a(href="#").button Special Offers
              img(src="images/icons/arrow.png", alt="")

      .off-canvas-section
        h3.offcanvas-title Search
        .off-canvas-search.row.collapse.postfix-round
          .columns.small-8
            input(type="text", placeholder="How can we help?")
          .columns.small-4
            a(href="#").button.postfix Search

      .off-canvas-section
        .off-canvas-recent-news-container
          h3.offcanvas-title Recent News
          article.off-canvas-article-preview
            .row.collapse
              .columns.small-3
                .date
                  span.month May
                  span.day 18
              .columns.small-8
                h4 Article Title about things
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .off-canvas-section
        h3.offcanvas-title Have a Question?
        p Give us a call or visit one of our branches Monday - Friday
        ul
          li
            a(href="#") View all Locations
          li
            a(href="#") Email Us
          li
            a(href="#") Mobile Access

a.exit-off-canvas
