doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title LNB Banking
    meta(name="description", content="LNB Banking")
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        .container
          include _header.jade

          main.main#main
            header.page-header
              .row
                .columns
                  .homepage-slider-container
                    div
                      .slide
                        img(src="images/homepage-content-header-1.jpg", alt="")
                        .text
                          figure.icon-container
                            img(src="images/icons/money-icon.png", alt="", width="70", height="70")
                          strong.title-1 LNB’s mortgage team made this home possible
                          a(href="#")
                            span Read their story
                            img(src="images/icons/diamond-arrow.png", alt="")
                    div
                      .slide
                        img(src="images/homepage-content-header-1.jpg", alt="")
                        .text
                          figure.icon-container
                            img(src="images/icons/money-icon.png", alt="", width="70", height="70")
                          strong.title-1 To us, our little farm is big business
                          a(href="#")
                            span Read their story
                            img(src="images/icons/diamond-arrow.png", alt="")
                    div
                      .slide
                        img(src="images/homepage-content-header-1.jpg", alt="")
                        .text
                          figure.icon-container
                            img(src="images/icons/money-icon.png", alt="", width="70", height="70")
                          strong.title-1 My checking account builds my balance faster.
                          a(href="#")
                            span Read their story
                            img(src="images/icons/diamond-arrow.png", alt="")

            .page-overview
              .row
                .columns
                  .row
                    .content.page-section
                      h2.overview-title Welcome, we’re glad you’re here
                      .row
                        .columns.medium-8.medium-centered
                          p Our focus is a simple one: to serve our customers, grow local economies, and treat every customer as a neighbor. Sound refreshing? It is. Since 1852, we’ve been the hometown bank for individuals and businesses.
                      a(href="#").button Discover the LNB Advantage
                        img(src="images/icons/arrow.png", alt="")
            .page-content
              .page-section.yellow-bg
                .row
                  .columns
                    ul.homepage-overview-blocks.small-block-grid-1.medium-block-grid-3
                      li
                        .overview-block
                          a(href="#").image-text-link
                            figure
                              img(src="//placehold.it/500x250", alt="")
                              figcaption
                                img(src="images/icons/diamond-arrow.png", alt="")
                                h3 Personal Banking
                          p Here you’ll get the convenience, rates, and checking and savings plans you need—and the friendly, hometown service you deserve.
                          ul
                            li Lorem ipsum dolor sit amet .
                            li Consectetur adipisicing elit.
                            li Necessitatibus maxim distinctio laborum.
                          a(href="#").button View More Details
                            img(src="images/icons/diamond-arrow.png", alt="")
                      li
                        .overview-block
                          a(href="#").image-text-link
                            figure
                              img(src="//placehold.it/500x250", alt="")
                              figcaption
                                img(src="images/icons/diamond-arrow.png", alt="")
                                h3 Business Banking
                          p Business-tailored banking with the support, convenience, and products and services specifically designed to help businesses bank smarter.
                          ul
                            li Lorem ipsum dolor sit amet .
                            li Consectetur adipisicing elit.
                            li Necessitatibus maxim distinctio laborum.
                          a(href="#").button View More Details
                            img(src="images/icons/diamond-arrow.png", alt="")
                      li
                        .overview-block
                          a(href="#").image-text-link
                            figure
                              img(src="//placehold.it/500x250", alt="")
                              figcaption
                                img(src="images/icons/diamond-arrow.png", alt="")
                                h3 Investments &amp; Wealth Management
                          p Know you’re covered with our robust investment and insurance options – our expert financial services team will help you every step of the way.
                          ul
                            li Lorem ipsum dolor sit amet .
                            li Consectetur adipisicing elit.
                            li Necessitatibus maxim distinctio laborum.
                          a(href="#").button View More Details
                            img(src="images/icons/diamond-arrow.png", alt="")
              .page-section
                .row
                  .columns.medium-11.medium-centered
                    .community-focus
                      .community-focus-hgroup
                        //- h2 Community Focus
                        h2 LNB in the Community
                      .content.row
                        .columns.medium-6
                          img(src="//placehold.it/500x250", alt="")
                        .columns.medium-6
                          h3.title-3 Community Focused Article
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel veniam delectus sequi, molestias non, odio aliquam nesciunt odit nulla assumenda a ea soluta nemo cum quidem ducimus, in natus maxime.
                          p Vero, maxime dicta minus! Aliquam nam, eos autem id, ducimus quis labore similique debitis pariatur totam dicta omnis voluptates velit, animi quisquam.
                          a(href="#").button Learn more
                            img(src="images/icons/arrow.png", alt="")

              //- .page-section.yellow-bg
                .row
                  .columns
                    h2.title-4
                      span News &amp; Updates From LNB

          include _footer.jade

        include _off-canvas.jade

    include _scripts.jade
