doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title m o n t e
    meta(name="description", content="m o n t e")
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        .right-off-canvas-menu
          ul
            li
              a(href="#") Item 1
            li
              a(href="#") Item 1
            li
              a(href="#") Item 1
            li
              a(href="#") Item 1

        .container
          header.header
            .row
              .columns
                .row
                  .columns.medium-6
                    h1.h1
                      span LNB Banking
                      //- span.visuallyhidden LNB Banking
                      //- img(src="", alt="")
                  .columns.medium-6
                    a(href="#").right-off-canvas-toggle.right  Menu
                nav.nav.row
                  ul.small-block-grid-1.medium-block-grid-5
                    li
                      a(href="#") Menu Item
                    li
                      a(href="#") Menu Item
                    li
                      a(href="#") Menu Item
                    li
                      a(href="#") Menu Item
                    li
                      a(href="#") Menu Item
          main.main#main
            header.page-header
              .row
                .columns
                  img(src="http://lorempixel.com/1600/600", alt="")
            .page-overview
              .row
                .columns
                  h2 LNB is your hometown advantage
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam qui quisquam maxime recusandae quod ducimus? Eos quaerat id sunt eius quam sint suscipit iste illo doloribus aliquid. Omnis, et itaque.
            .page-content
              .row
                .columns
                  ul.small-block-grid-1.medium-block-grid-3
                    li
                      img(src="http://lorempixel.com/500/250", alt="")
                      h3 Some words and things
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque recusandae, laboriosam nam quis culpa blanditiis quia ipsam porro explicabo obcaecati, molestiae, ab magni! Necessitatibus, deleniti tempore aspernatur non reiciendis doloribus!
                    li
                      img(src="http://lorempixel.com/500/250", alt="")
                      h3 Some words and things
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia libero natus, necessitatibus eligendi rerum pariatur voluptatem repellat ullam maxime laudantium magnam, animi et quos exercitationem accusamus officiis alias nostrum, dicta.
                    li
                      img(src="http://lorempixel.com/500/250", alt="")
                      h3 Some words and things
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quibusdam aspernatur quod ut asperiores. Nemo minima aut repellendus repudiandae cupiditate. Incidunt laborum nihil delectus, suscipit enim, expedita nemo rem minus!

          footer.footer
            .row
              .columns
                p Copyright


        a.exit-off-canvas


    include _scripts.jade
