doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title m o n t e
    meta(name="description", content="m o n t e")
    include _head.jade

  body#index
    a(href="#main").visuallyhidden Skip to main content
    .off-canvas-wrap(data-offcanvas)
      .inner-wrap
        .container
          header.header
            .row
              .columns
                .logo-and-menu.row
                  .columns.medium-6
                    h1.h1
                      span.visuallyhidden LNB Banking
                      img(src="images/lnb-logo.png", alt="")
                  .columns.medium-6
                    a(href="#").right-off-canvas-toggle.right  Bank Now &equiv;
                nav.nav.row(role="navigation")
                  h2.visuallyhidden Main Menu
                  ul.small-block-grid-1.medium-block-grid-5
                    li
                      a(href="#") Personal Banking
                    li
                      a(href="#") Business Banking
                    li
                      a(href="#") Financial Services
                    li
                      a(href="#") New &amp; Resources
                    li
                      a(href="#") About LNB
          main.main#main
            header.page-header
              .row
                .homepage-slider-container
                  .slide
                    img(src="images/homepage-content-header-1.jpg", alt="")
                    .text
                      figure.icon-container
                        img(src="images/icons/money-icon.png", alt="", width="70", height="70")
                      strong.title-1 Real Advantages.
                      a(href="#")
                        span What's yours?
                        img(src="images/icons/diamond-arrow.png", alt="")
            .page-overview
              .row
                .columns
                  .row
                    .content.page-section
                      h2.overview-title LNB Is your Hometown Advantage
                      .row
                        .columns.medium-8.medium-centered
                          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam qui quisquam maxime recusandae quod ducimus? Eos quaerat id sunt eius quam sint suscipit iste illo doloribus aliquid. Omnis, et itaque.

            .page-content
              .row
                .columns
                  ul.small-block-grid-1.medium-block-grid-3
                    li
                      img(src="http://placehold.it/500x250", alt="")
                      h3 Some words and things
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque recusandae, laboriosam nam quis culpa blanditiis quia ipsam porro explicabo obcaecati, molestiae, ab magni! Necessitatibus, deleniti tempore aspernatur non reiciendis doloribus!
                    li
                      img(src="http://placehold.it/500x250", alt="")
                      h3 Some words and things
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia libero natus, necessitatibus eligendi rerum pariatur voluptatem repellat ullam maxime laudantium magnam, animi et quos exercitationem accusamus officiis alias nostrum, dicta.
                    li
                      img(src="http://placehold.it/500x250", alt="")
                      h3 Some words and things
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quibusdam aspernatur quod ut asperiores. Nemo minima aut repellendus repudiandae cupiditate. Incidunt laborum nihil delectus, suscipit enim, expedita nemo rem minus!

          footer.footer
            .row
              .columns
                p Copyright

        include _off-canvas.jade

    include _scripts.jade
